<template>
  <div id="topbar" class="flex items-center">
    <router-link class="mr-6 ml-2" to="/home">
      <button class="ml-2 text-lg font-black">
        <span class="accent">KIT</span>
        <span>ube</span>
      </button>
    </router-link>
    <div class="flex justify-between w-full">
      <div v-if="!!courses">
        <router-link v-for="course in courses" :key="course.abbreviation" :to="`/course/${course.abbreviation}`">
          <button :class="{'text-gray-400': activeCourseId !== course.abbreviation}"
                  class="lecture-button">
            <span> {{ course.abbreviation }} </span>
          </button>
        </router-link>
      </div>
      <div/>
      <button class="refresh-button mr-2">
          <span class="material-icons" style="font-size: 1rem">
            sync
          </span>
      </button>
    </div>
  </div>
</template>


<script lang="ts">
import {defineComponent} from "vue";
import "../assets/_buttons.scss";

export default defineComponent({
  name: "TopBar",
  props: ["courses", "activeCourseId"]
});


</script>
<style lang="scss" scoped>
.lecture-button {
  height: 2em;
  line-height: 2em;
  border-radius: 2px;
  margin-right: 0.5rem;
}

.accent {
  color: variables.$accent;
}

#topbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: variables.$navbar;
  height: 2.5rem;
  z-index: 4;

}

.refresh-button {
  font-size: 1rem;
  color: #7a7a7a;

  &:hover {
    color: black;
  }
}

</style>