<template>
  <video
    id="plyr-video"
    controls
    crossorigin
    playsinline
    :data-poster="poster"
  >
    <source type="video/mp4" :src="src" />
  </video>
</template>
<script lang="ts">
import {onMounted} from "vue";
import Plyr from "plyr";
import "plyr/dist/plyr.css";

export default {
  props: ["src", "poster"],
  setup() {
    onMounted(() => {
      new Plyr("#plyr-video");
    });
  },
};
</script>

<style lang="scss">
.plyr {
  flex: 1 4 50%;
  --plyr-color-main: #009682;
}
</style>