<template>
  <router-link :to="`/course/${post.courseId}/post/${post.title}`">
    <div :style="`background-image: url('${post.thumbnail}')`" class="preview-container ">
      <div class="title-container flex">
        <span class="title self-end">{{ post.title }}</span>
      </div>
    </div>
  </router-link>
</template>
<script>
export default {
  props: ["post"],
};
</script>
<style lang="scss" scoped>

.preview-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: #cdcdcd;
  cursor: pointer;
  height: 9em;
  overflow: hidden;

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0 1px 2px 0;
  }

  .title {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 0 0 1rem 1rem;
  }


  .title-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(9, 9, 9, 0) 50%, rgba(1, 1, 1, .4) 80%, rgba(1, 1, 1, .5) 100%);

    &:hover {
      background: linear-gradient(180deg, rgba(9, 9, 9, 0.1) 50%, rgba(1, 1, 1, .5) 80%, rgba(1, 1, 1, .6) 100%);
    }
  }
}

.preview-container:hover .title {
  color: #dddddd;
}
</style>