.nav-button {
    cursor: pointer;
    user-select: none;
    color: variables.$grey;
    &:hover {
        background-color: darken(variables.$navbar, 5%);
        color: darken(variables.$grey, 20%)
    }
    &:active {
        background-color: darken(variables.$navbar, 10%);
        color: darken(variables.$grey, 35%)
    }
}
.lecture-button {
  cursor: pointer;
  user-select: none;
  line-height: 2.5rem;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f0f0f0;
  border-radius: .5rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  &:hover {
    color: variables.$accent;
    background-color: mix(#f0f0f0, variables.$accent, 95%);
  }
  &:active {
    background-color: mix(#e9e9e9, variables.$accent, 95%);
  }
  
}