<template>
  <div
      id="main-container"
  >
    <suspense>
      <router-view/>
    </suspense>
  </div>
  <NavBar :courses="courses" :activeCourseId="activeCourseId"/>
</template>

<script lang="ts">
import {defineComponent, ref, provide} from "vue";
import NavBar from "./components/NavBar.vue";
import BackendClient from "./BackendClient";

export default defineComponent({
  name: "App",
  components: {
    NavBar,
  },
  setup() {
    const courses = BackendClient.courses
    const activeCourseId = BackendClient.currentCourseId
    BackendClient.loadCourses()
    return {courses, activeCourseId}
  },
});
</script>

<style lang="scss">
html,
body {
  height: 100%;
  background-color: variables.$background;
}

#app {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#main-container {
  padding-top: 2.5rem;
  width: 100%;
  height: 100%;
}
</style>
