<template>
  <div v-if="course && post" class="element">
    <div class="content-viewer flex flex-col lg:flex-row">

      <Videoplayer v-if="streamUrl" :src="`http://localhost:8080/stream?target=${encodeURIComponent(streamUrl)}`"
                   class="lecture-player"/>
      <embed
          v-show="showPDF"
          :src="post.thumbnail"
          type="application/pdf"
          class="pdf-viewer"
      />
    </div>
    <div class="header mx-2 md:mx-5 my-2 md:my-5 flex">
      <router-link :to="`/course/${course.abbreviation }`">
        <button class="lecture-button">
          <span> {{ course.abbreviation }} </span>
        </button>
      </router-link>
      <div class="title-container">
        <a :href="post.opencastLink">
          <h2 class="leading-4 text-lg">
            {{ post.title }}
          </h2>
        </a>
        <h3 class="text-gray-500 text-md">Subtitle</h3>
      </div>
      <!--      <button class="ml-auto pdf-toggle" @click="showPDF = !showPDF">-->
      <!--        <span>Toggle PDF</span>-->
      <!--      </button>-->
    </div>
    <div class="flex flex-col mx-4 md:flex-row md:mx-5">
      <video-post-preview v-for="p in suggested" :key="p.index" :post="p" class="mb-3 md:mr-2 w-full"/>
    </div>
  </div>
</template>
<script lang="ts">
import {computed, ref, watch} from "vue";
import Videoplayer from "../components/PlyrVideoPlayer.vue";
import {useRoute} from "vue-router";
import VideoPostPreview from "../components/VideoPostPreview.vue";
import BackendClient from "../BackendClient";

export default {
  components: {VideoPostPreview, Videoplayer},
  setup() {
    const route = useRoute()
    watch(() => route.params.courseId, (a, b) => {
      if (a && a != b) BackendClient.setCurrentCourse(a as string)
    })
    const post = computed(() => PostService.posts.value.find(a => a.title == route.params.postId))
    BackendClient.fetchStreamLink(post.value).then(link => {
      if (post.value) post.value.streamUrl = link
    }).catch(e => console.error(e))

    const suggested = computed(() => {
      if (!post.value) return []
      const index = PostService.posts.value.indexOf(post.value)
      if (index < 0) return []
      const list = []
      for (let i = index - 2; i < PostService.posts.value.length && list.length < 5; i++) {
        if (i == index || i < 0 || i >= PostService.posts.value.length) continue
        list.push(PostService.posts.value[i])
      }
      return list
    })

    const course = PostService.loaded;
    const showPDF = ref(false);
    const streamUrl = computed(() => post.value?.streamUrl)
    return {showPDF, post, course, streamUrl, suggested};
  }
  ,
}
;
</script>
<style lang="scss" scoped>
.pdf-viewer {
  flex: 10 0 auto;
  min-height: 20rem;
}

.content-viewer {
  max-height: 40em;
}

.pdf-toggle {
  background-color: #e0e0e0;
  padding: 0 0.4rem;
  border-radius: 3px;
  height: 1.9rem;

  span {
    line-height: 0.2rem;
    font-size: 0.9rem;
    font-weight: 500;
  }

  &:hover {
    background-color: darken(#e0e0e0, 5%);
  }

  &:active {
    background-color: darken(#e0e0e0, 10%);
  }
}
</style>