<template>
  <div class="content-container px-2 lg:mt-10 lg:mx-20 md:px-8 py-1 md:py-6">
    This is the home view.
  </div>
</template>
<script lang="ts">

export default {
  components: {},
  async setup() {
  },
};
</script>
<style lang="scss">
.bar {
  .main {
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
  }


  span:not(.main):hover {
    text-decoration: underline;
    cursor: pointer;
  }

}
</style>