<template>
  <div class="content-container px-2 lg:mt-10 lg:mx-20 md:px-8 py-1 md:py-6">
    <div class="flex bar items-center">
        <span class="main mr-6">
        {{ course?.name }}
        </span>
      <div class="flex-grow"/>
      <div v-click-outside="hideDropdown" class="dropdown">
        <button @click="toggle = !toggle">
          <span class="material-icons text-sm">
            more_horiz
          </span>
        </button>
        <div v-if="toggle" class="dropdown-content">
          <button v-for="p in pages" :key="p.url" @click="pullPage(p)">
            {{ p.name }}
          </button>
        </div>
      </div>
      <button v-if="course" @click="pullAllPosts()">
      <span class="material-icons text-sm">
        south
      </span>
      </button>
    </div>

    <hr class="w-full h-1 mb-3"/>
    <div class="grid grid-cols-2 gap-1 md:grid-cols-3 md:gap-3 xl:grid-cols-6 xl:gap-4">
      <template v-for="post in posts" :key="post.index">
        <VideoPostPreview v-if="'thumbnail' in post" :post="post"/>
      </template>
    </div>
  </div>
</template>
<script lang="ts">
import VideoPostPreview from "../components/VideoPostPreview.vue";
import {useRoute} from "vue-router";
import BackendClient from "../BackendClient";
import {computed, ref, watch} from "vue";


export default {
  components: {VideoPostPreview},
  async setup() {
    const route = useRoute()
    await BackendClient.loadCourses()

    const courses = BackendClient.courses
    const pages = BackendClient.pages
    const posts = BackendClient.posts

    watch(() => route.params.courseId, (a, b) => {
      if (a && a != b) BackendClient.setCurrentCourse(a as string)
    })
    BackendClient.setCurrentCourse(route.params.courseId as string)
    const course = computed(() => courses.value.find(c => c.abbreviation == BackendClient.currentCourseId.value))

    function pullAllPosts() {
      BackendClient.pullAllPosts()
    }

    function hideDropdown() {
      toggle.value = false
    }

    function pullPage(page: Page) {
      BackendClient.pullPage(page)
    }

    const toggle = ref(false)

    return {pages, posts, course, pullAllPosts, hideDropdown, pullPage, toggle};
  },
};
</script>
<style lang="scss">
.bar {
  .main {
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
  }


  span:not(.main):hover {
    text-decoration: underline;
    cursor: pointer;
  }

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 20rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  button {
    text-align: left;
    width: 100%;
    padding: 0.2rem 1rem;

    &:hover {
      background-color: #ddd;
    }
  }
}
</style>